:root {
  --softkeybar-background-color: var(--color-gs20, #cccccc);
  --softkey-color: var(--color-gs90, #323232);
  --softkey-color--icon: var(--color-gs70, #6a6a6a);
  --softkey-color--disabled: var(--color-eta, #c7c7c7);
  --softkey-background-color--active: #00aacc;
  --softkey-font-size: 1.4rem;
  --softkey-icon-size: 2rem;
  --softkey-font-weight: 600;
}

.kai-softkey {
  $skbar-gap: 0.5rem;
  z-index: var(--z-index--softkey, 99999);
  display: flex;
  justify-content: space-between;
  outline: none;
  text-align: center;
  white-space: nowrap;
  color: var(--softkey-color);
  background-color: var(--softkeybar-background-color);
  position: absolute;
  bottom: 0;
  width: 100%;

  &:not(.visible) {
    opacity: 0;
  }

  > * {
    text-transform: capitalize;

    &:first-child {
      width: 45%;
      text-align: left;
    }

    &:nth-child(2) {
      --softkey-font-size: 1.6rem;
      --softkey-font-weight: 700;

      flex-shrink: 0;
      min-width: 2rem - $skbar-gap * 2; // min gap between LSK & RSK = 2rem
      max-width: percentage(7.6 / 24);
      text-transform: uppercase;
    }

    &:last-child {
      width: 45%;
      text-align: right;
    }
  }

  &-btn {
    display: block;
    min-width: 1rem;
    height: var(--softkeybar-height, 3rem);
    line-height: var(--softkeybar-height, 3rem);
    padding: 0 $skbar-gap;
    border: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: inherit;
    font-size: var(--softkey-font-size);
    font-weight: var(--softkey-font-weight);
    color: var(--softkey-color);
    background: unset;

    &:active,
    &.active {
      background-color: var(--softkey-background-color--active);
    }

    &[disabled] {
      --softkey-color: var(--softkey-color--disabled);
      background-color: transparent;
      pointer-events: auto;
    }

    &[data-icon] {
      --softkey-font-size: var(--softkey-icon-size);
      --softkey-color: var(--softkey-color--icon);
    }
  }
}