:root {
  --color-gs100: #000000;
  --color-gs90: #323232;
  --color-gs70: #6a6a6a;
  --color-gs45: #8c8c8c;
  --color-gs20: #cccccc;
  --color-gs10: #e6e6e6;
  --color-gs00: #ffffff;

  --color-purple: #873eff;
  --color-pink: #f6529b;
  --color-lime: #82c51b;
  --color-cyan: #1cc1c4;
  --color-blue: #0da1e1;
  --color-orange: #ff8329;
  --color-red: #f3203d;

  --color-purple-pressed: #6c32cc;
  --color-pink-pressed: #bf2392;
  --color-lime-pressed: #4f9a0d;
  --color-cyan-pressed: #31979e;
  --color-blue-pressed: #0a80b4;
  --color-orange-pressed: #cc5310;
  --color-red-pressed: #c21930;

  --header-purple-background: #320374;
  --header-pink-background: #48132c;
  --header-lime-background: #153A06;
  --header-cyan-background: #045463;
  --header-blue-background: #20407b;
  --header-orange-background: #381e0d;
  --header-red-background: #5b0700;

  color: var(--color-gs90);
}

.theme-system {
  --highlight-color: var(--color-purple);
  --highlight-color-pressed: var(--color-purple-pressed);
  --header-background: var(--header-purple-background);
}

.theme-media {
  --highlight-color: var(--color-pink);
  --highlight-color-pressed: var(--color-pink-pressed);
  --header-background: var(--header-pink-background);
}

.theme-communications {
  --highlight-color: var(--color-lime);
  --highlight-color-pressed: var(--color-lime-pressed);
  --header-background: var(--header-lime-background);
}

.theme-service {
  --highlight-color: var(--color-cyan);
  --highlight-color-pressed: var(--color-cyan-pressed);
  --header-background: var(--header-cyan-background);
}

.theme-settings {
  --highlight-color: var(--color-blue);
  --highlight-color-pressed: var(--color-blue-pressed);
  --header-background: var(--header-blue-background);
}

.theme-productivity {
  --highlight-color: var(--color-orange);
  --highlight-color-pressed: var(--color-orange-pressed);
  --header-background: var(--header-orange-background);
}

.theme-warning {
  --highlight-color: var(--color-red);
  --highlight-color-pressed: var(--color-red-pressed);
  --header-background: var(--header-red-background);
}
