* {
  font-family: "Open Sans";
}

%h1 {
  font-weight: 300;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.h1, .p-pri, p, input {
  font-size: 1.7rem;
}

.h1 {
  text-transform: capitalize
}
