.kai-menu {
  z-index: 7777;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  color: var(--color-gs90);

  &-wrapper {
    position: absolute;
    bottom: var(--softkeybar-height);
    width: 100%;
    max-height: calc(100% - 2rem - var(--statusbar-height));
  }

  &-header {
    padding: .5rem 1rem;
    text-align: center;
    background-color: var(--color-gs20);
  }

  &-item {
    line-height: 4.8rem;
    padding: 0 1rem;
    background-color: var(--color-gs00);
    text-transform: capitalize;
    outline: none;
    &:focus {
      color: var(--color-gs00);
      background-color: var(--highlight-color);
    }
  }
}
